{% extends "base.html" %}

{% block content %}

{% include "flash.html" %}

<div class = "text-center">
    <h3>{{title}}</h3>
    <p class ="mt-3">
        <a class = "btn btn-info" href="/events/create">New Event</a><br>
    </p>
    {% if userevent %}
        <div class = "row mt-5">
            {% for e in userevent %}
              
                <div class="col-4 card px-5 py-5" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + e.flyer) }}" alt="Card image cap" width = "400" height = "400">
                    <div class="card-body">
                        <b>{{e.title}} </b>
                        {% if e.visibility: %} 
                            - Public
                        {% else %} 
                            - Private
                        {% endif %}
                        <div class = "row mt-3"> 
                            <div class = "col-5 text-left">
                                Name: 
                                <br>
                                Category:  
                                <br>
                                Start Date: 
                                <br>
                                End Date: 
                                <br>
                                Cost: 
                                <br>
                                Venue:  
                                <br>
                                Description:  

                            </div>
                            <div class = "col-7 text-left">
                                {{e.name}} 
                                <br>
                               {{e.category}} 
                                <br>
                                {{e.start_dt}} 
                                <br>
                                {{e.end_dt}} 
                                <br>
                                {{e.cost}} 
                                <br>
                                {{e.venue}}  
                                <br>
                               {{e.description}} 
                            </div>

                        </div>

                       
                    </div>
                </div>
            {% endfor %}         
        </div>
    {% else %}

        You currently have no events.

    {% endif %}
</div>

{% endblock %}